{% extends base_template %}

{% block styles %}
	<style>
		.studyskills-question
		{
		    float: left;
		    font-size: 16px;
		    padding-top: 5px;
		    padding-left: 10px;

		}
		.studyskills-field ul
		{
		    list-style: none;
		    float: right;
		    padding: 0;
		    margin: 0;
		    height: 50px;
    		padding-bottom: 10px;
		}
		.studyskills-field li
		{
		    float:left;
		    padding: 10px 33px;
		}
		div.studyskills-field
		{
		    margin: 0px;
		    clear:both;
		    height:50px;
		    padding: 15px 5px 10px 5px;
		}
		.studyskills-field-preference li, .studyskills-field-self li
		{
		    margin-right: 25px;
		}
		fieldset.studyskills-fieldset
		{
		    border: 1px solid;
		    padding: 10px;
		    margin: 0px;
		    margin-top:40px;
		}
		legend.studyskills-legend
		{
			padding: 10px 20px;
   			margin: 0px 20px;
    		width: 90%;
    		white-space: nowrap;
    		text-align: center;
		}
		.error-message
		{
		    color: #AA0000;
		}

		.errors
		{
		    padding: 10px 15px;
		    background: #fcf0f0;
		    border: 1px solid #F1B0B0;
		}

	</style>
	{{ block.super }}
{% endblock %}

{% block body %}
<h1>Study Skills Assessment</h1>
{% if form.errors %}<div class="errors"><span class="error-message">You must answer all of the questions. Please answer the highlighted questions.</span></div>{% endif %}
<div id="studyskills-assessment">
<form action="" method="POST" class="studyskills">
	{% csrf_token %}
	{% for item in form %}
		{% if item.name|add:"0" > 52 and item.name|add:"0" < 61 %}
			{% if item.name|add:"0" == 53 %}
				<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">Please indicate your preference for the following types of courses and teaching.</legend>
					<div class="studyskills-field {% cycle 'even' 'odd' %} studyskills-field-preference {% if item.errors %}errors{% endif %}">
					    <span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
					</div>
			{% else %}
				<div class="studyskills-field {% cycle 'odd' 'even' %} studyskills-field-preference {% if item.errors %}errors{% endif %}">
				    <span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
				</div>
			{% endif %}
		{% else %}
			{% if item.name|add:"0" == 61 %}
				</fieldset>
				<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">How well do you feel you have been doing with your work so far?</legend>
					<div class="studyskills-field {% cycle 'even' 'odd' %} studyskills-field-self {% if item.errors %}errors{% endif %}">
						<span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
					</div>
				</fieldset>
			{% else %}
				{% if item.name|add:"0" == 1 %}
					<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">Please indicate your relative agreement or disagreement with the following statements.</legend>
						<div class="studyskills-field {% cycle 'even' 'odd' %} {% if item.errors %}errors{% endif %}">
							<span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
						</div>
				{% else %}
					{% if item.name|add:"0" == 52 %}
						<div class="studyskills-field {% cycle 'odd' 'even' %} {% if item.errors %}errors{% endif %}">
							<span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
						</div>
						</fieldset>
					{% else %}
						<div class="studyskills-field {% cycle 'odd' 'even' %} {% if item.errors %}errors{% endif %}">
							<span class="studyskills-question {% if item.errors %}error-message{% endif %}">{{ item.label }}</span>{{ item }}
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	 <input type="submit" name="submit" id="id_submit" value="Submit" />
</form>
</div>
{% endblock %}