{% extends base_template %}

{% block styles %}
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/study-skills.css" type="text/css" />
	{{ block.super }}
{% endblock %}

{% block body %}
<h1>Study Skills Assessment</h1>
<div id="studyskills-assessment">
<form action="" method="POST" class="studyskills">
	{% csrf_token %}
	{% for item in form %}
		{% if item.name|add:"0" > 52 and item.name|add:"0" < 61 %}
			{% if item.name|add:"0" == 53 %}
				<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">Please indicate your preference for the following types of courses and teaching.</legend>
					<div class="studyskills-field {% cycle 'sseven' 'ssodd' %} studyskills-field-preference">
					    <span class="studyskills-question">{{ item.label }}</span>{{ item }}
					</div>
			{% else %}
				<div class="studyskills-field {% cycle 'ssodd' 'sseven' %} studyskills-field-preference">
				    <span class="studyskills-question">{{ item.label }}</span>{{ item }}
				</div>
			{% endif %}
		{% else %}
			{% if item.name|add:"0" == 61 %} 
				</fieldset>
				<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">How well do you feel you have been doing with your work so far?</legend>
					<div class="studyskills-field {% cycle 'sseven' 'ssodd' %} studyskills-field-self">
						<span class="studyskills-question">{{ item.label }}</span>{{ item }}
					</div>
				</fieldset>
			{% else %}
				{% if item.name|add:"0" == 1%}
					</fieldset>
					<fieldset class="studyskills-fieldset"><legend class="studyskills-legend">Please indicate your relative agreement or disagreement with the following statements.</legend>
						<div class="studyskills-field {% cycle 'sseven' 'sseodd' %}">
							<span class="studyskills-question">{{ item.label }}</span>{{ item }}
						</div>
				{% else %}
					{% if item.name|add:"0" == 52 %}
						<div class="studyskills-field {% cycle 'ssodd' 'sseven' %}">
							<span class="studyskills-question">{{ item.label }}</span>{{ item }}
						</div>
						</fieldset>
					{% else %}
						<div class="studyskills-field {% cycle 'ssodd' 'sseven' %}">
							<span class="studyskills-question">{{ item.label }}</span>{{ item }}
						</div>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endfor %}
	 <input type="submit" name="submit" id="id_submit" value="Submit" />
</form>
</div>
{% endblock %}